.Header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    margin: auto;
}

p {
    color: var(--component-color);
    font-size: 36px;
    font-family: var(--primary-family);
}

/*Icon*/
.icon {
    width: 278px;
}

.icon span {
    color: black;
}

/*Navbar*/
.nav{
    display: flex;
    width: 570px;
    align-items: center;
    justify-content: space-around;
}
.nav_item img {
    min-width: 28px;
    height: 28px;


}

.nav_item{
align-self: center;
}

/*Search*/
.search{
    display: flex;
    width: 278px;
    align-items: center;
}

input {
    border: 0;
    padding: 14px;
    border-radius: 14px 0 0 14px;
    outline: none;

}







