:root {
  --primary-color: #fff;
  --background-color: #F1F1F1;
  --grey-color: #E4E4E4;
  --component-color: #EDB11A;
  --primary-family: Montserrat, sans-serif;
  --brown-text-color: #775C1B;
  --grey-text-color: #575757;

}

h1,h2,h3,h4,h5,h6,p,header,nav,span, * {
  margin: 0;
  padding: 0;
  border: 0;
}

.Header {
  margin: 0 auto;
}
body {
  background-color: var(--background-color);
  margin: 0 auto;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.content {

  max-width: 1170px;

  display: flex;
  margin: 38px auto;
}

.content_wrapper{

}