.dialogs {
    display: inline-table;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 22px;
}

.users {
    display: flex;
}

.userNames {
    width: 50%;
}

.messages {
    width: 50%;
}

.user_item {

}

.message_item {
}

a {
    text-decoration: none;
    color: var(--grey-text-color)
}

.addNewMessage {
    margin: 10px;
    display: inline-block;
}

.addNewMessage textarea {
    width: 100%;
}

.addNewMessage button {
    width: 100%;
    padding: 5px;
}